<authLayout>
    <div class="w-full h-full flex flex-wrap">
        <div class="w-full h-full md:w-1/2 flex flex-col">
            <div class="flex flex-col justify-start pt-8 md:pt-0 px-8 md:px-24 lg:px-32" >
                <div class="justify-center mt-10 mb-10">
                    <a href="#" class="text-white font-bold text-xl p-4">
                        <img class="m-auto" src="/img/logo_word.png">
                    </a>
                </div>

                <p class="text-left text-3xl">{{ $t('auth.login') }}.</p>
                <form class="flex flex-col pt-3 md:pt-8" onsubmit="event.preventDefault();">
                    <div class="flex flex-col pt-4">
                        <label for="email" class="text-lg">{{ $t('auth.email') }}</label>
                        <input type="text" v-model="loginData.email"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                            :class="{ 'border-pink-400': errors.email }">
                    </div>

                    <div class="flex flex-col pt-4">
                        <label for="password" class="text-lg">{{ $t('auth.password') }}</label>
                        <input type="password" v-model="loginData.password"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
                            :class="{ 'border-pink-400': errors.password }">
                    </div>

                    <input v-on:click.prevent="login()" type="submit" :value="$t('auth.login')"
                        class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8 cursor-pointer">
                </form>

                <div class="text-center pt-12 pb-12">
                    <p>{{ $t('auth.create_acc_info') }} <router-link :to="{ name: 'register' }"
                            class="underline font-semibold">{{ $t('general.create_account') }}</router-link>.</p>
                </div>
            </div>
        </div>

        <div class="w-1/2 shadow-2xl hidden md:block"  style="background: url(/img/bg/login1.jpg); background-size: cover;">
        </div>
    </div>
</authLayout>