<aside class="relative bg-sidebar h-screen w-64 hidden sm:block shadow-xl">
    <div class="p-6 text-center">
        <div class="p-8 relative w-full flex center">
            <img class="m-auto" src="/img/logo_completo.png">
        </div>
        <button
            class="w-full bg-white cta-btn font-semibold py-2 mt-5 rounded-br-lg rounded-bl-lg rounded-tr-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
            </i> {{ $t('navbar.new') }} <i class="ml-3 fas fa-qrcode mr-3"></i>
        </button>
    </div>
    <nav class="text-black text-base font-semibold pt-3">
        <router-link :to="{ name: 'adminDashboard' }" :class="{ 'active-nav-link': activeMenu == 'adminDashboard' }"
            class="flex items-center text-white py-4 pl-6 nav-item">
            <i class="fab fa-buffer mr-3"></i>
            {{ $t('navbar.dashboard') }}
        </router-link>
    </nav>
    <a href="#" @click="logout"
        class="absolute w-full upgrade-btn bottom-0 active-nav-link text-white flex items-center justify-center py-4">
        <i class="fas fa-sign-out-alt mr-3"></i> {{ $t('general.logout') }}
    </a>
</aside>