<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="<%= BASE_URL %>favicon.png">

        <!-- Tailwind -->
        <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
            .font-family-karla { font-family: karla; }
            .bg-sidebar { background: white; }
            .cta-btn { color: black; }
            .upgrade-btn { background: #1696a3; }
            .upgrade-btn:hover { background: white; color: black; }
            .active-nav-link {
                background: #efefef;
                color: black;
            }
            .nav-item:hover { 
                background: rgb(226, 226, 226); 
                color: rgb(24, 24, 24);
            }
            .account-link:hover { background: white; }
            .list-qrcode svg {
                height: 100% !important;
                width: 100% !important;
            }
        </style>
    </head>
    
    <body>
        <noscript><strong>We're sorry but test doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
        <div id="app"></div>
    </body>
</html>