<adminLayout v-bind:activeMenu="'adminDashboard'">
    <h1 class="text-3xl text-black pb-6">{{ $t('navbar.dashboard') }}</h1>

    <div  v-for="item in tags">
      <div class="bg-white border-2 rounded-xl border-black overflow-hidden ">
        <router-link :to="{ name: 'tag', params: {id:item.id} }">
          <div class="md:flex">
            <!--div class="md:flex-shrink-0">
              <qrcode-vue level="M" renderAs="svg" :value="item.url" class="list-qrcode h-48 w-full object-cover md:h-full md:w-48"></qrcode-vue>
            </div-->
            <div class="md:flex-shrink-0">
              <div class="bg-black p-8 uppercase text-white tracking-wide text-2xl font-semibold">{{item.id}} </div>
            </div>
            <div class="p-8" style="white-space: nowrap;">
                <a href="#" class="mt-1 text-lg leading-tight font-large text-black hover:underline">{{item.url}}</a>
            </div>
            
          </div>
        </router-link>
      </div>
    </div>

    <h2 class="text-3xxl text-black pb-6"></h2>
    
</adminLayout>