<adminLayout v-bind:activeMenu="'adminDashboard'">
    <h1 class="text-3xl text-black pb-6">{{tag.id}}</h1>
    <a href="#" class="block mt-1 text-lg leading-tight font-large text-black hover:underline">{{tag.url}}</a>

    
    



    <form class="flex flex-col pt-3 md:pt-8" onsubmit="event.preventDefault();">
        <div class="flex flex-col pt-4">
            <label for="name" class="text-lg">{{ $t('general.updateUrl') }}</label>
            <input type="text" v-model="tag.newUrl" placeholder="http://tupagina.com/link" 
                :class="{ 'border-pink-400': errors.url }"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
        </div>

        <input type="submit" value="Actualizar url" v-on:click.prevent="updateUrl()"
            class="cursor-pointer bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">
    </form>




    <!--qrcode-vue level="M" renderAs="svg" :value="tag.url" class="list-qrcode h-48 w-full object-cover md:h-full md:w-48"></qrcode-vue-->
    
    


</adminLayout>