<div>
    <!-- Desktop Nav -->
    <header class="w-full flex items-center py-2 px-6 hidden sm:flex">
        <div class="w-1/2"></div>
        <div class="relative w-1/2 flex justify-end">
            <button @click="isOpen = !isOpen"
                class="realtive z-10 w-12 h-12 overflow-hidden focus:outline-none">
                <i class="fas fa-qrcode"></i>
            </button>
            <button @click="isOpen = false" class="h-full w-full fixed inset-0 cursor-default" style="display: none;"></button>
            <div v-show="isOpen" class="absolute w-32 bg-white rounded-lg shadow-lg py-2 mt-16" style="display: none;">
                <a href="#" class="block px-4 py-2 account-link hover:text-white" @click="logout">{{ $t('general.logout') }}</a>
            </div>
        </div>
    </header>

    <!-- Mobile Header & Nav -->
    <header class="w-full py-5 px-6 sm:hidden">
        <div class="flex items-center justify-between">
            <router-link :to="{ name: 'adminDashboard' }"  class="text-black text-3xl font-semibold uppercase hover:text-gray-300">
                <img class="m-auto" src="/img/logo_word.png">
            </router-link>
            <button @click="isOpen = !isOpen" class="text-black text-3xl focus:outline-none">
                <i v-if="!isOpen" class="fas fa-cogs"></i>
                <i v-if="isOpen" class="fas fa-cogs"></i>
            </button>
        </div>

        <!-- Dropdown Nav -->
        <nav :class="isOpen ? 'flex': 'hidden'" class="flex flex-col pt-4">
            <router-link :to="{ name: 'adminDashboard' }" class="flex items-center text-black py-2 pl-4 nav-item">
                <i class="fab fa-buffer mr-3"></i>
                {{ $t('navbar.dashboard') }}
            </router-link>
            <button @click="logout"
                class="w-full bg-white cta-btn font-semibold py-2 mt-3 rounded-lg shadow-lg hover:shadow-xl hover:bg-gray-300 flex items-center justify-center">
                <i class="fas fa-sign-out-alt mr-3"></i> {{ $t('general.logout') }}
            </button>
        </nav>
    </header>
</div>