<authLayout>
    <div class="w-full h-full flex flex-wrap">
        <div class="w-full h-full md:w-1/2 flex flex-col">
            <div class="flex flex-col justify-start pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                <div class="justify-center mt-10 mb-10">
                    <a href="#" class="text-white font-bold text-xl p-4">
                        <img class="m-auto" src="/img/logo_word.png">
                    </a>
                </div>

                <p class="text-left text-3xl">{{ $t('auth.register') }}.</p>
                <form class="flex flex-col pt-3 md:pt-8" onsubmit="event.preventDefault();">
                    <div class="flex flex-col pt-4 relative">
                        <label for="name" class="text-lg"> {{ $t('auth.tag') }}</label>
                        <i class="fas fa-qrcode mr-2" style="position: absolute;bottom: 10px;left: 14px;color: #333333;"></i>
                        <the-mask mask="XXXXXXX-XXX" placeholder="ASDFGHY-qwe" v-model="registerData.tag" type="text" :class="{ 'border-pink-400': errors.tag }"
                            class="pl-10 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"/>
                    </div>

                    <div class="flex flex-col pt-4">
                        <label for="name" class="text-lg">{{ $t('auth.first_name') }}</label>
                        <input type="text" v-model="registerData.first_name"
                            :class="{ 'border-pink-400': errors.first_name }"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div>

                    <div class="flex flex-col pt-4">
                        <label for="name" class="text-lg">{{ $t('auth.last_name') }}</label>
                        <input type="text" v-model="registerData.last_name"
                            :class="{ 'border-pink-400': errors.last_name }"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div>

                    <div class="flex flex-col pt-4">
                        <label for="email" class="text-lg">{{ $t('auth.email') }}</label>
                        <input type="email" id="email" v-model="registerData.email"
                            :class="{ 'border-pink-400': errors.email }"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div>

                    <div class="flex flex-col pt-4">
                        <label for="password" class="text-lg">{{ $t('auth.password') }}</label>
                        <input type="password" id="password" v-model="registerData.password"
                            :class="{ 'border-pink-400': errors.password }"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">
                    </div>

                    <input type="submit" value="Comenzar" v-on:click.prevent="register()"
                        class="cursor-pointer bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">
                </form>

                <div class="text-center pt-12 pb-12">
                    <p>{{ $t('auth.login_info') }} <router-link class="underline font-semibold" :to="{ name: 'login' }">
                            {{ $t('auth.login') }}</router-link>.</p>
                </div>
            </div>
        </div>

        <div class="w-1/2 shadow-2xl hidden md:block" style="background: url(/img/bg/login3.jpg); background-size: cover;">
        </div>
    </div>
</authLayout>