<template>
    <div class="bg-white h-full font-family-karla h-screen">
        <slot></slot>
    </div>
</template>

<script>
import '@fortawesome/fontawesome-free/css/all.min.css'

export default {
    name: 'Auth-Layout'
}
</script>